Options +FollowSymlinks
RewriteEngine on

RewriteRule ^games/pingpong/(.*)/(.*)/(.*)/(.*)/(.*)/$ RestController.php?endpoint=games&EID=pingpong&GID=$1&TIDW=$2&TIDL=$3&WPTS=$4&LPTS=$5 [nc]
RewriteRule ^games/(.*)/(.*)/$ RestController.php?endpoint=games&EID=$1&gamestatus=$2 [nc]
RewriteRule ^games/(.*)/$ RestController.php?endpoint=games&EID=$1&gamestatus=scheduled [nc]
RewriteRule ^events/(.*)/$ RestController.php?endpoint=events&EID=$1 [nc]
RewriteRule ^standings/(.*)/$ RestController.php?endpoint=standings&season=$1 [nc]
RewriteRule ^standings/$ RestController.php?endpoint=standings&season=current [nc]
RewriteRule ^players/stats/(.*)/(.*)/$ RestController.php?endpoint=playerstats&PID=$1&season=$2 [nc]
RewriteRule ^players/stats/(.*)/$ RestController.php?endpoint=playerstats&PID=$1&season=current [nc]
RewriteRule ^players/bio/(.*)/$ RestController.php?endpoint=playerbio&PID=$1 [nc]
